.containers:hover .select{
    display: flex;
    animation: fadeIn .3s ease forwards;
}

.select{
    top: 100%;
    width: auto;
}

@keyframes fadeIn {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}