@media screen and (min-width: 430px){
    .grid-layout{
        grid-template-columns:1fr 3fr;
    }
}


@media screen and (min-width: 720px){
    .grid-layout{
        grid-template-columns:1fr 5fr;
    }
}



@media screen and (min-width: 1200px){
    .grid-layout{
        grid-template-columns:1.5fr 10fr;
    }
}
